*{
	margin: 0;
	padding: 0;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/1.jpg);
	height: 95vh;
	background-repeat: no-repeat;
	background-size: 100% 700px;
	background-position: center;

}

.title{
	font-family:Century Gothic;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-60%,-60%);
}

.title h1{
	text-decoration: none;
	color: white;
	font-size: 80px;
}

footer {
    text-align: center;
    color: black; 
    padding: 5px;
    text-decoration: none;

}